<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EJ04.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EJ04.SettingsEJ04" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <EJ04.Settings>
            <setting name="AESSal" serializeAs="String">
                <value>Martin</value>
            </setting>
            <setting name="AESContraseña" serializeAs="String">
                <value>pFlEmEL5_¡4#pF</value>
            </setting>
            <setting name="CesDesplazamiento" serializeAs="String">
                <value>10</value>
            </setting>
        </EJ04.Settings>
    </userSettings>
    <applicationSettings>
        <EJ04.SettingsEJ04>
            <setting name="AESSal" serializeAs="String">
                <value>Martin</value>
            </setting>
            <setting name="AESContraseña" serializeAs="String">
                <value>pFlEmEL5_¡4#pF</value>
            </setting>
            <setting name="CesDesplazamiento" serializeAs="String">
                <value>10</value>
            </setting>
        </EJ04.SettingsEJ04>
    </applicationSettings>
</configuration>